@model Employee;

@{
    ViewData["Title"] = "Demo";
}

<h1>Index</h1>

@*<p>Name: @ViewData["name"]</p>
<p>Salary: @ViewData["salary"]</p>
<p>Id: @ViewData["id"]</p>
<p>@ViewBag.Banan</p>
<p>@ViewBag.Id</p>*@


<p>Name: @Model.Name</p>
<p>Salary: @Model.Salary</p>